<h1>商品の編集</h1>
<nav class="nav justify-content-end">
  <%= link_to '一覧', admin_products_path, class: 'nav-link' %>
</nav>
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <%= render partial: 'form', locals: { item: @item, url: admin_product_path } %>
    </div>
  </div>
</section>
